# Virtual environment
.venv/

# Data (sensitive or large files)
data/

# Outputs / results / figures
outputs/

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
